body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
} 

.block1 { 
    position: fixed;
    top: 0%;
    left: 0%;
    width: 75%;
    height: 15%;
    background-color: lightblue;
}
.block2 { 
    position: fixed;
    top: 0%;
    right: 0;
    width: 25%;
    height: 85%;
    background-color: lightgreen; 
    ol {
        padding-left: 50px;
    }
}
.block3 { 
    position: fixed;
    top: 12%;
    left: 0%;
    width: 25%;
    height: 73%;
    background-color: peachpuff;
}
.block3 nav ul {
    list-style-type: none;
    padding: 0% 10%;
}
.block3 nav ul li {
    margin: 20px 0;
}
.block3 nav ul li a {
    text-decoration: none;
    color: #000;
}
.block4 { 
    position: fixed;
    top: 12%;
    left: 25%;
    width: 50%;
    height: 10%;
    background-color: peachpuff;
}
.block5 { 
    position: fixed;
    top: 21%;
    left: 25%;
    width: 50%;
    background-color: white;
    overflow-y: auto;
}
.block5 img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.block6 { 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    background-color: lightblue;
}
h1, h2 {
    text-align: center;
}